* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  color: #343a40;
  border-top: 8px solid #087f5b;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */
header a:link {
  text-decoration: none;
}

.main-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 60px;
  background: rgb(255, 255, 255, 0.3);
}

.header-title {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  color: #087f5b;
}

nav {
  color: #087f5b;
  font-size: 18px;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  color: #087f5b;
  text-decoration: none;
}

nav a:visited {
  color: #087f5b;
}

nav a:hover {
  color: #087f5b;
  font-weight: bold;
}

nav a:active {
  color: #087f5b;
}
